<html>
<head>
<title>Kradex Z123</title>
</head>
<body>
<h1>KRADEX</h1>
<h2>Z123: Enclosures two-part</h2>
This project template is the basis of an PCB for the
<a href="https://www.kradex.com.pl/product/enclosures_two_part/z123w_abs?lang=en" target="blank">Kradex Z123 Enclosure</a>.<br>
<br>
Board dimensions (WxL): 69.85mm x 69.85mm.<br>
Enclosure dimensions (WxLxH): 75.8mm x 75.8mm x 30.2mm.<br>
<p>Images:</p>
<p><img src="board.png"></p>
<p><img src="1098013e2435844ed3e4bc342722e9b13af920c7.jpg"></p>
<p><img src="6b7298b3d2d0899d9c0986807b42beb2f13775a7.jpg"></p>
(c)2019 Sebastian Denis<br>
</body>
</html>
