<html>
<head>
<title>STM8 Mini Module</title>
</head>
<body>
<h1>Module</h1>
<h2>Development board ARM STM8S103F3P6 STM8</h2>
This project template is the basis of an
<a href="https://arduino-shop.eu/arduino-platform/1130-development-board-arm-stm8s103f3p6-stm8.html" target="blank">STM8S103F3P6 Mini Module</a> board.<br>
<br>
Development board for the advanced.
<li>Use STM8S103F3P6 as the master IC.</li>
<li>You can use 2.54 pin on the board or power supply pad, the pad when using the power supply, the input voltage range of 4.5 V-15V, can output to the outside through the pin 3.3 V! (Note: 5V pin's voltage is the input voltage of the module.)
<li>leads to all pins, the pins next to the pin marked the label with a reset button, power LED, and the program demonstrates LED, small but perfectly formed.</li>
<li>Support SWIM debug mode.</li>
<p>Images:</p>
<p><img src="board.png"></p>
<p><img src="board_3d.png"></p>
<p><img src="1130.jpg"></p>
<p><img src="2291.jpg"></p>
(c)2019 Sebastian Denis<br>
</body>
</html>
